:root {
    /*colors*/
    --darkest-gray:#181818;
    --dark-gray:#1D1D1D;
    --default-gray:#2F2F2F;

    --text-primary:#d1d1d1;
    --text-secondary:#a3a3a3;

    /*settings conf*/

    /*Body*/
    --body-bg:var(--default-gray);
    --body-text:var(--text-secondary);
    --body-font-size:16px;

    /*.gray-divider*/

    --gray-divider-width:1px;
    --gray-divider-height:60%;
    --gray-divider-margin-in:6px;

    /*.top-nav settings*/
    --top-nav-bg: var(--darkest-gray);
    --top-nav-width: 100%;
    --top-nav-height: 40px;

    /*tab colors*/
    --default-tab-bg:var(--dark-gray);
    --default-tab-bg-hover:var(--default-gray);
    --default-tab-padding-in:9px;
    --default-tab-padding-bl:6px;
    --default-tab-br:6px;

    --highlight-tab-bg:var(--default-gray);
    --highlight-tab-color:var(--text-primary);

    --abt-tab-margin-in:4px;
    --abt-tab-color:var(--text-primary);
    --abt-tab-bg-hover:var(--default-gray);
    --abt-tab-padding:6px;
    --abt-tab-br:6px;

    /*Mobile nav settings*/
    --mobile-nav-bg:var(--dark-gray);
    --mobile-nav-width:100%;
    --mobile-nav-height:max-content;

    --mob-tab-width:100%;
    --mob-tab-height:40px;
    --mob-tab-bg-hover:var(--darkest-gray);
    --mob-tab-color-hover:var(--text-primary);

}
html, body {
    height: 100%;
    width: 100%;
}
* {box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,p {margin: 0;padding: 0;}
a {
    color: var(--text-secondary);
    text-decoration: none;
    cursor: pointer;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:var(--body-font-size);
    background: var(--body-bg);
    color: var(--body-font-size);
    text-align: center;
}
.row, .col {display: flex;}
.row {flex-direction: row;}
.col {flex-direction: column;}

.sb {justify-content: space-between;}
.aic {align-items: center;}

.top-nav {
    background: var(--top-nav-bg);
    height: var(--top-nav-height);
    width: var(--top-nav-width);
}
.gray-divider {

    display: flex;
    align-self: unset;
    background-color: var(--text-secondary);
    height: var(--gray-divider-height);
    width: var(--gray-divider-width);
    margin-inline: var(--gray-divider-margin-in);
}
.default-tab, .highlight-tab {
    padding-inline: var(--default-tab-padding-in);
    padding-block: var(--default-tab-padding-bl);
    border-radius: var(--default-tab-br);
}
.default-tab {
    background:var(--default-tab-bg);
}
.default-tab:hover {
    background:var(--default-tab-bg-hover);
}
.highlight-tab {
    background:var(--highlight-tab-bg);
    color: var(--highlight-tab-color);
}
.abt-tab {
    margin-inline: var(--abt-tab-margin-in);
    color: var(--abt-tab-color);
    padding: var(--abt-tab-padding);
    border-radius: var(--abt-tab-br);
}
.abt-tab:hover {
    background: var(--abt-tab-bg-hover);
}
.top-nav-icon {
    height: 16px;
    width: 16px;
}
.mobile-nav {
    display: none;
    cursor: pointer;
    padding-inline: 10px;
}
.mobile-nav img {
    transform: rotate(180deg);
}
#mobile-nav-show {
    display: flex;
    flex-direction: column;
    width: var(--mobile-nav-width);
    height: var(--mobile-nav-height);
    background: var(--mobile-nav-bg);
}
.mob-tab {
    height: var(--mob-tab-height);
    width: var(--mob-tab-width);
}
.mob-tab:hover {
    background-color: var(--mob-tab-bg-hover);
    color: var(--mob-tab-color-hover);
}
@media (max-width:800px) {
    .mobile-nav {
        display: block;
    }
    #main-abt-content {
        display: none;
    }
    #main-tab-content {
        display: none;
    }
}